<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="refresh" content="0; URL={{ main_link.url.url }}" />
    <title>Redirect to {{ main_link.title }}</title>
  </head>
  <body></body>
</html>
