{%- autoescape false -%} {{ yocaml_body }} {%- endautoescape -%} {%- if
has_interests -%}
<p class="interests">
  This webring is by invitation only. A current member must have met the
  prospective member in person (e.g., at a conference) and must be able to vouch
  for the candidate's exceptional engineering skills and character. We're
  interested in {%- for it in interests %}
  <a href="{{it.url.url}}">{{ it.title }}</a>{{ it.sep }}{%- endfor -%}.
</p>
{%- endif -%} {%- if has_members -%}
<section class="members">
  {%- for m in chain -%}
  <div>
    <div>
      <h2><a href="/u/{{ m.id }}">{{ m.display_name }}</a></h2>
      <span>{{ m.main_link.lang }}</span>
    </div>

    <nav>
      <a href="/u/{{ m.id }}/frame.html" title="{{ m.main_link.title }}">www</a>
      {%- if m.has_main_feed -%}
      <a href="{{ m.main_feed.url.url }}" title="{{ m.main_feed.title }}"
      >feed</a>
      {%- endif -%}
    </nav>
  </div>
  {%- endfor -%}
</section>
{%- else -%}
<section class="no-elts">The ring is empty</section>
{%- endif -%}
